* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

html {
  font-size: 16px;
}
.wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.container {
  width: 60vmin;
  height: 60vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
}
.button-option {
  background: white;
  height: 18vmin;
  width: 18vmin;
  font-size: 10vmin;
  color: red;
}

.gameover {
  background: greenyellow;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 10vmin;
}

.gameover.hide {
  display: none;
}
